<!DOCTYPE html>
<html lang="en">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form>

    <p>Message: <input type="text" id="content" /></p>
    <p><button onclick="submitValues(event)" value="Submit">Submit</button></p>
</form>
</body>
</html>
<script type="text/javascript">

    function submitValues(event) {
        event.preventDefault();
        var text = document.getElementById("content").value;
        var message1;
        message1= "%22";
        var splitValues = text.split(" ");
        for(var i = 0; i < splitValues.length - 1; i++){
            message1 = message1 + splitValues[i] + "%20";
        }
        message1 = message1 + splitValues[splitValues.length - 1] + "%22";
        var xmlhttp = new XMLHttpRequest();
        var url = "https://api.pushshift.io/reddit/search?q="+message1;
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var parsed = JSON.parse(this.responseText);
                var arrayToPass = [];
                for(var j = 0; j < parsed.data.length; j++){
                    arrayToPass.push({
                        body: parsed.data[j].body
                    });
                }
                /*console.log(parsed);
                console.log(parsed.data[0].body);*/
                var content = document.getElementById('content').value;
                var url1 = 'http://localhost:8080/redditSearch';

                var xmlhttp1 = new XMLHttpRequest();   // new HttpRequest instance
                xmlhttp1.onreadystatechange = function () {
                    var res = this.responseText;
                    console.log(res);
                }
                xmlhttp1.open("POST", url1, true);
                xmlhttp1.setRequestHeader("Content-Type", "application/json");

                xmlhttp1.send(JSON.stringify(arrayToPass));
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }
</script>